.DS_Store
/node_modules/

# We use PNPM lockfile, so we can ignore package-lock.json
package-lock.json

# Environment variables
.env

# React Router
/.react-router/
/build/

# IntelliJ
.idea
*.iml
.zed

# Playwright
node_modules/
/playwright/test-results/
/playwright/playwright-report/
/playwright/blob-report/
/playwright/.cache/

# Screenshots
/screenshots/

# Storybook
/storybook-static/
