.aktivitet-vurdering-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 0 0 0;

  .header {
    padding: 0 3rem 3rem 3rem;
  }

  .grid {
    flex: 1 auto;
    display: grid;
    grid-template-columns: auto 20em;
  }

  .sidebar {
    margin: 0 1em;
  }

  .main {
    border-right: 1px solid var(--ax-border-neutral-subtleA);

    .section {
      padding: 0 3rem;
    }
  }

  .details-divider {
    height: 1px;
    background-color: var(--ax-border-neutral-subtleA);
    margin: 1em 0;
  }
}
