.aktivitet-vurdering-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 2rem;

  .header {
    padding: 0 2rem 2rem 0rem;
  }

  .grid {
    flex: 1 auto;
    display: grid;
    grid-template-columns: auto 20em;
  }

  .sidebar {
    margin: 0 1em;
  }

  .main {
    border-right: 1px solid var(--ax-border-neutral-subtleA);
    padding-right: var(--ax-space-20);
  }

  .details-divider {
    height: 1px;
    margin: 1em 0;
  }
}
