.header {
  padding-left: 20px;
  .header-logo {
    display: flex;
    gap: 7px;
    .heading-env {
      color: var(--ax-bg-success-strong);
      font-size: 16px;
      position: relative;
      top: 2px;
      left: -5px;
      font-weight: lighter;
    }
  }

  .menu {
    display: flex;
    padding-left: var(--ax-space-8);

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 0;
    }

    li {
      position: relative;
      padding: 0 var(--ax-space-16);

      &::before {
        content: "|";
        position: absolute;
        left: 0;
        color: var(--ax-text-neutral);
        pointer-events: none;
      }

      &:first-child::before {
        content: none;
      }
    }

    a {
      text-decoration: none;
      color: var(--ax-text-neutral);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
