.loader {
  > div:first-child {
    display: grid;
    place-items: center;

    > * {
      grid-area: 1 / 1;
    }
  }

  .robot-smile {
    color: var(--ax-bg-info-strong);
    margin-top: 0.1em;
    animation: pulse 5s ease-in-out infinite;
  }
}

@keyframes pulse {
  0%,
  33%,
  66%,
  100% {
    transform: scale(1.15);
  }
  16.5%,
  49.5%,
  82.5% {
    transform: scale(1);
  }
}
