.xsmall {
  :global(.aksel-heading--small) {
    font-size: var(--ax-font-size-heading-xsmall);
  }
}

.pennyVenstremenyBredde {
  max-width: 305px;
}

.mainContent {
  flex: 1;
  min-width: 0;
  max-width: var(--ax-breakpoint-xl);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@media (min-width: 1440px) {
  .mainContent {
    border-right-width: 1px;
    border-right-color: var(--ax-border-neutral-subtle);
    border-right-style: solid;
  }
}
