.root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.xsmall {
  :global(.aksel-heading--small) {
    font-size: var(--ax-font-size-heading-xsmall) !important;
  }
}

.pennyVenstremenyBredde {
  max-width: 305px;
}

.pageFullHeight :global(.aksel-page__content--grow) {
  display: flex;
  flex-direction: column;
  padding-block-end: 0;
}

.pageFullHeight {
  min-height: 0;
  flex: 1;
}

.mainContent {
  flex: 1;
  min-width: 0;
  max-width: var(--ax-breakpoint-xl);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@media (min-width: 1440px) {
  .mainContent {
    border-right-width: 1px;
    border-right-color: var(--ax-border-neutral-subtle);
    border-right-style: solid;
  }
}
