name: Build and deploy

on:
  push:
    branches:
      - "main"

jobs:
  build:
    name: "build"
    permissions:
      contents: "read"
      id-token: "write"
      packages: "write"
    runs-on: "ubuntu-latest"
    outputs:
      image: "${{ steps.docker-push.outputs.image }}"
      telemetry: "${{ steps.docker-push.outputs.telemetry }}"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-node@v6"
        with:
          node-version: '24'
          cache: 'pnpm'
      - name: Enable corepack
        run: corepack enable
      - name: Install deps and build
        run: |
          pnpm install --frozen-lockfile
          pnpm build
          pnpm prune --prod
      - uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: pensjon-saksbehandling

  deploy:
    permissions:
      contents: "read"
      id-token: "write"
    if: github.ref == 'refs/heads/main'
    needs: [build]
    runs-on: 'ubuntu-latest'

    strategy:
      matrix:
        include:
          -  vars_file: vars-q2.yaml
             cluster: dev-gcp
          -  vars_file: prod.yaml
             cluster: prod-gcp

    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        name: "deploy"
        env:
          CLUSTER: '${{ matrix.cluster }}'
          IMAGE: "${{ needs.build.outputs.image }}"
          RESOURCE: .nais/nais.yaml,.nais/unleash-apitoken.yaml
          TELEMETRY: ${{ needs.build.outputs.telemetry }}
          VARS: '.nais/${{ matrix.vars_file }}'
